@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
background-color: white;
color: black;
}


#header {
    background-color: #FAC9B8;
    text-align: center; 
    align-items: center;
    margin: 0;
    padding: 0;
    border-bottom:dashed;
    border-top: dashed;
    
}

#header img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

h1 {
    margin: 0px;
    padding: 0px;
    font-family: 'Bungee Shade', cursive;
    text-align: center;
    font-size: 70px;
 
}

h2{
    font-family: 'Montserrat', serif;
}

h3 {
    font-family: 'Montserrat', serif;
}

p {
    color: darkslategray;
    font-family: 'Montserrat', sans-serif;
}

#table {
    background-color: #DB8A74;
    display: grid;
    padding: 20px;
    margin: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
   
}

#table img {
    
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
     
}

.img {
  padding: 5px;
}

#table div {
    grid-column: span 4;
    margin: 0;
  }
  
  
  /* media query */
  
  @media only screen and (min-width: 720px) {
  
    #table div {
      grid-column: auto;
      margin: 0;
    }
  
  }

#mood_table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
     
}

#mood_table img {
   max-width: 100%;
    max-height: 100%;
    align-items: center;
    object-fit: contain;
    margin: auto;
    
}

.restaurants {
  padding: 10px;
}

#mood_table div {
    grid-column: span 2;
    margin: 0;
  }
  
  /* media query */
  
  @media only screen and (min-width: 720px) {
  
    #mood_table div {
      grid-column: auto;
      margin: 0;
    }
  
  }

#footer {
    background-color: #ab6450;
    text-align: center;
    font-family:'Montserrat', sans-serif;
    padding: 10px;
    font-size: 10px;
  }