{% extends "base.html" %}

{% block title %}Mood to Food{% endblock %}
   


{% block content %}
  <div id="header">
    <div><img src="static/logo.png", width="500"/></div>
      
     <p>In a mood for food? <br> <em>Click on an icon below.</em>
     </p>
  </div>

  <div id="table">

    <div class="hoverContainer">
      <a href="/happy"><div class="hoverEffect">
        <h1>Happy</h1></div></a>
       <img src="static/happy.PNG" width="100%"/>
    </div>

    <div class="hoverContainer">
      <a href="/cold"><div class="hoverEffect">
        <h1>Cold</h1></div></a>
        <img src="static/cold.PNG"/>
    </div>

    <div class="hoverContainer">
      <a href="/sad"><div class="hoverEffect">
        <h1>Sad</h1></div></a>
        <img src="static/sad.PNG"/>
    </div>

    <div class="hoverContainer">
      <a href="/angry"><div class="hoverEffect">
        <h1>Angry</h1></div></a>
        <img src="static/angry.PNG"/>
    </div>

  </div>

 
  {% endblock %}